<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git-o</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css/error.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>    

    <div class="navbar">
        <!-- logo -->
        <a class="logo" href="/">
            Git-o
        </a>
        
    </div>

    <div class="contain">
        <img src="css/git_img.GIF" alt="git img">
        <div class="contain_txt">
            <div class="up">OOPS!!!</div>
            <div class="down">
                <div class="down_txt">User not found</div>
                <a href="/"> <div class="down_btn pointon">Go back</div> </a>
            </div>
        </div>
    </div>
    
</body>
</html>