<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git-o</title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>    
       

        <form action="/search" method="post" class="search">

            <div class="logo" href="/">
                Git-o
            </div>

            <input class="search_box" placeholder="Search User" name="user">

            </input>

            <button class="search_btn pointon">
                Search
            </button>
        </form>

    
</body>
</html>