<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git-o</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>

    <!-- header -->
    <div class="navbar">
        <!-- logo -->
        <div class="logo">
            Git-o
        </div>
        <!-- search -->
        <div class="search">
            <form action="/" method="post">
                <input class="search_box" placeholder="Search User" name="user">

                </input>

                <button class="search_btn">
                    Search
                </button>
            </form>

        </div>

    </div>

    <!-- Profile -->
    <div class="profile">
        <div class="heading">
            Profile
        </div>
        <div class="stats">
            <!-- img -->
            <div class="stats_image">

            </div>

            <!-- name_bio -->
            <div class="block1">

                <div class="name">
                    Name - 
                </div>

                <div class="bio">
                    Bio : 
                </div>
                <div class="bio_content">
                    <div class="bio_content_area">
                    I know new problems are nothing but the possibilities of learning something new.
                    </div>
                </div>

            </div>

            <!-- Followers_following -->
            <div class="block2">

                <div class="up_box">

                    <div class="subheading flexme">
                        <img class="icon" src="img/twitter.svg"></img>
                        <div class="text">Twitter username - </div>
                    </div>

                    <div class="subheading flexme">
                        <img class="icon" src="img/company.svg"></img>
                        <div class="text">Company - </div>
                    </div>

                    
                    <div class="subheading flexme">
                        <img class="icon" src="img/hire.svg"></img>
                        <div class="text">Hireable - </div>
                    </div>                    

                </div>

                <div class="down_box flexme">

                    <div class="follow_format">
                        <div class="followers">
                            Followers - 
                        </div>
                    </div>
                    
                    <div class="follow_format">
                        <div class="following">
                            Following - 
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- contact_info -->
            <div class="block3">

                <div class="subheading flexme" style="margin-top: 20px;">
                    <img class="icon" src="img/email.svg"></img>
                    <div class="text">Email - </div>
                </div>

                <div class="subheading flexme">
                    <img class="icon" src="img/location.svg"></img>
                    <div class="text">Location - </div>
                </div>

                
                <div class="subheading flexme">
                    <img class="icon" src="img/repos.svg"></img>
                    <div class="text">Public repos - </div>
                </div>  

                <div class="subheading flexme">
                    <img class="icon" src="img/gists.svg"></img>
                    <div class="text">Public gists - </div>
                </div> 

            </div>

        </div>
    </div>


    <!-- Repositories -->
    <div class="repositories">
        <div class="heading">
            Repositories
        </div>

        <div class="contain_repo">

            <% for(var i=0; i<10; i++){ %>
            <div class="card">
                <div class="card_heading">
                    Repo 1
                </div>

                <div class="card_description">
                    Repo 1
                </div>

                <div class="card_lang flexme">
                    <div class="card_lang_txt">
                        CSS
                    </div>
                </div>                
            </div>
            <%}%>

        </div>


    </div>

    <!-- watermark -->
    <div class="watermark">
        @devik_kamath
    </div>

    
    <!-- Functional scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

    </script>

</body>
</html>