* {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}

body {
  background-image: url("bg_img.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  width: 16%;
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.search {
  width: 60%;
  position: absolute;
  bottom: 126px;
  left: 20%;
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #373838;
}

.search_box {
  width: 58%;
  padding: 0 20px;
  height: 38px;
  font-size: 18px;
  color: #373838;
  background-color: #c4c5c7b7;
  font-weight: 300;
  margin-right: 10px;
  border: 1px solid #585858;
  border-radius: 3px;
}

.search_btn {
  width: 26%;
  height: 40px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 300 !important;
  border: 1px solid #2a9048;
  background-color: #268741;
}
