:root {
  --background_clr: #24292f;
  --navbar_clr: #181d22;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.watermark {
  text-align: right;
  position: relative;
  left: 90px;
  font-size: 9px;
  opacity: 0.6;
}

/* Universal */
.flexme {
  display: flex;
}

* {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  color: white;
}

body {
  background-color: var(--background_clr);
  margin-left: 100px;
  margin-right: 100px;
}

/* Navbar */
.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: var(--navbar_clr);
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 400;
}

.search {
  width: 330px;
}

.search_box {
  width: 58%;
  padding: 0 10px;
  height: 28px;
  font-size: 14px;
  color: #8b8e90;
  font-weight: 300;
  margin-right: 6px;
  background-color: var(--navbar_clr);
  border: 1px solid #585858;
  border-radius: 3px;
}

.search_btn {
  width: 32%;
  height: 30px;
  border-radius: 3px;
  font-weight: 300 !important;
  border: 1px solid #2a9048;
  background-color: #268741;
}

/* Common in both sections */
.heading {
  font-size: 19px;
  font-weight: 300;
  color: #aca9a9;
}

/* Profile section */
.profile {
  margin-top: 140px;
}

.stats {
  display: grid;
  grid-template-columns: 14% 29.5% 28% 26.1%;
  gap: 10px;
  margin-top: 30px;
  height: 180px;
}

/* containers */

.stats_image {
  width: 100%;
  height: 100%;
  background-color: rgb(212, 212, 212);
  border-radius: 2px;
  margin-right: 20px;
}

.block1 {
  width: 100%;
  height: 178px;
  border-radius: 2px;
  background-color: #272c32;
  border: 1px solid #585858;
  margin-right: 10px;
}

.block2 {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.up_box {
  width: 99.5%;
  height: 128px;
  border-radius: 2px;
  background-color: #272c32;
  border: 1px solid #585858;
}

.down_box {
  margin-top: 10px;
  justify-content: space-between;
}

.follow_format {
  display: flex;
  width: 48.5%;
  height: 38px;
  font-size: 14px;
  align-items: center;
  border-radius: 2px;
  background-color: #272c32;
  border: 1px solid #585858;
}

.followers,
.following {
  margin: auto;
}

.block3 {
  width: 100%;
  height: 178px;
  border-radius: 2px;
  background-color: #272c32;
  border: 1px solid #585858;
}

/* Data */

.name,
.bio {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 10px;
}

.bio_content {
  font-size: 14px;
  margin: 0 15px;
  text-align: justify;
  opacity: 0.6;
}

/* subheading */
.subheading {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.icon {
  margin-right: 10px;
}

/* Repositories section */
.repositories {
  margin-top: 70px;
  margin-bottom: 55px;
}

.contain_repo::-webkit-scrollbar {
  display: none;
}

.contain_repo {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  grid-gap: 10px;
  margin-top: 30px;
  height: 200px;
  width: 100%;
  background-color: #1d2227;
  border-radius: 2px;
  overflow-x: scroll;
}

.card {
  width: 350px;
  height: 180px;
  margin: 10px 0 10px 10px;
  background-color: #bbbdbe;
  position: relative;
  border-radius: 3px;
}

.card_heading {
  position: absolute;
  left: 20px;
  top: 16px;
  color: #061524;
  font-size: 20px;
  font-weight: 600;
}

.card_description {
  margin-top: 2px;
  position: absolute;
  left: 20px;
  top: 50px;
  color: #061524;
  font-size: 14px;
  font-weight: 300;
}

.card_lang {
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 27px;
  border-radius: 0 0 3px 3px;
  background-color: #434f5c;
}

.card_lang_txt {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  right: 10px;
}

/* Responsive */
@media (max-width: 1300px) {
  .stats {
    grid-template-columns: 20% 38% 40%;
  }

  .repositories {
    margin-top: 240px;
  }

  .block3 {
    grid-column: 1/3;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 60px;
  }
  .search {
    position: absolute;
    left: auto;
    top: 80px;
  }

  .search_box {
    width: 55%;
    height: 33px;
  }

  .search_btn {
    height: 34px;
  }

  .contain_repo {
    grid-template-columns: 97%;
  }

  .card {
    width: 100%;
    height: 72px;
    margin: 2%;
    /* padding: ; */
  }
  .card_description {
    display: none;
  }

  .card_lang {
    height: 5px;
  }
  .card_lang_txt {
    bottom: 10px;
    color: #061524;
  }

  .contain_repo {
    height: 300px;
    gap: 0;
  }
}

@media (orientation: portrait) {
  body {
    margin-left: 30px;
    margin-right: 30px;
  }

  .watermark {
    left: 22px;
  }

  .navbar {
    padding: 0 30px;
  }

  .name {
    font-size: 14px;
    margin-top: 8px;
  }

  .bio {
    font-size: 14px;
    margin-top: 5px;
  }

  .bio_content {
    height: 80px;
  }

  .bio_content_area {
    font-size: 12px;
    height: 60px;
    overflow-y: scroll;
  }

  .stats {
    grid-template-columns: 35% 62%;
  }

  .repositories {
    margin-top: 400px;
    flex-direction: row;
  }

  .stats_image,
  .block1 {
    height: 90%;
  }

  .block1 {
    width: 99%;
  }

  .block3,
  .block2 {
    grid-column: 1/3;
  }

  .block3 {
    width: 99.5%;
    margin-top: 15px;
  }
}
